body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

h1 {
  text-align: center;
  margin-top: 2rem;
  font-size: 3rem;
  font-weight: 600;
  color: #0a0a0a;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

.todo-item {
  display: flex;
  align-items: center;
  margin: 1.5rem 0;
  padding: 1.5rem;
  background: linear-gradient(90deg, #fdfdfd 0%, #f9f9f9 50%, #fdfdfd 100%);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: transform 0.2s ease-in-out;
}

.todo-item:hover {
  transform: translateY(-5px);
}

.todo-item__text {
  flex-grow: 1;
  margin-left: 1.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: #0a0a0a;
  transition: color 0.2s ease-in-out;
}

.todo-item__text.completed {
  text-decoration: line-through;
  color: #888888;
}

.todo-item__checkbox {
  margin-right: 1.5rem;
  border: 2px solid #0a0a0a;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: border-color 0.2s ease-in-out;
}

.todo-item__checkbox.checked {
  background-color: #0a0a0a;
}

.todo-item__checkbox.checked:before {
  content: '\2713';
  color: #ffffff;
}

.todo-item__checkbox:hover {
  border-color: #0a0a0a;
}

.todo-item__checkbox:hover:before {
  color: #0a0a0a;
}

.filter-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: #0a0a0a;
  transition: color 0.2s ease-in-out;
}

.filter-button.active {
  color: #2e86de;
}

.filter-button:hover {
  color: #2e86de;
}

.filter-button__icon {
  margin-right: 0.5rem;
}

.filter-button__icon.completed {
  color: #888888;
}

.add-todo {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.add-todo__input {
  flex-grow: 1;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  border: none;
  background-color: #f9f9f9;
  border-radius: 8px 0 0 8px;
  transition: box-shadow 0.2s ease-in-out;
}

.add-todo__input:focus {
  outline: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.add-todo__button {
  background-color: #2e86de;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1rem;
  border: none;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.add-todo__button:hover {
  background-color: #276cb8;
}

@media (max-width: 767px) {
  h1 {
    font-size: 2rem;
  }

  .todo-item {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
  }

  .todo-item__text {
    margin: 0.5rem 0;
  }

  .add-todo {
    flex-direction: column;
  }

  .add-todo__input {
    border-radius: 8px;
    margin-bottom: 1rem;
  }

  .add-todo__button {
    border-radius: 8px;
  }
}